@font-face {
  font-family: 'Tungsten';
  src: url('./fonts/Tungsten-Semibold.woff2') format('woff2'),
    url('./fonts/Tungsten-Semibold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/Helvetica.woff2') format('woff2'),
    url('./fonts/Helvetica.woff') format('woff');
  font-weight: 400, 700;
  font-style: normal;
}
