@font-face {
  font-family: 'Tungsten';
  src: url('./fonts/Tungsten-Bold.woff2') format('woff2'),
    url('./fonts/Tungsten-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/Helvetica.woff2') format('woff2'),
    url('./fonts/Helvetica.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
