:root {
  --c-white: #ffffff;
  --c-black: #000000;
  --c-grey: #303030;

  --p-xs: 8px;
  --p-sm: 16px;

  --thumbnail-height: 115px;
  --thumbnail-width: 86px;

  --centerImage-height: 330px;
  --centerImage-width: 248px;

  --centerImage-height--open: 400px;
}

@media (min-width: 768px) {
  :root {
    --centerImage-height: 680px;
    --centerImage-width: 512px;
    --centerImage-height--open: 95vh;
  }
}

@media (min-width: 1150px) {
  :root {
    --thumbnail-height: 330px;
    --thumbnail-width: 248px;
  }
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: var(--c-grey);
  color: var(--c-white);
}
