:root {
  --c-white: #ffffff;
  --c-black: #000000;
  --c-grey: #303030;

  --p-xs: 8px;
  --p-sm: 16px;

  --thumbnail-height-sm: 115px;
  --thumbnail-width-sm: 86px;

  --thumbnail-height-md: 133px;
  --thumbnail-width-md: 100px;

  --thumbnail-height-lg: 330px;
  --thumbnail-width-lg: 248px;

  --centerImage-height: 680px;
  --centerImage-width: 512px;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: var(--c-grey);
  color: var(--c-white);
}
